.task-list {
    padding: 10px;
}

.task-list h1 {
    margin-bottom: 20px;
}
.view-switch-create-task{
    position: relative;
}
.view-switch-create-task button {
    padding: 10px 10px;
    background-color: #7f00ff;
    background-image: linear-gradient(to right, #7f00ff, #e100ff);
    color: white;
    border: 0px solid white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 50px;


}



