.layout {
    display: flex;
    height: 100vh; /* Make sure the layout takes the full height of the viewport */
  }
  
  .content {
    margin-left: 250px; /* This should match the width of your sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Ensure the content takes the rest of the space */
    overflow-y: auto; /* Add scrolling if content overflows */
    background-color: #f8f2f8;
  }

  @media (max-width: 768px) {
    .content{
      width: 100%;
      margin-left: 0; /* This should match the width of your sidebar */


    }
    
  }
  
