.search-box {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input {
    width: 100%;
    padding: 10px 15px;
    padding-left: 40px; /* Add space for the search icon */
    box-sizing: border-box;
    border-radius: 25px; /* Rounded edges */
    font-size: 16px;
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    left: 15px;
    font-size: 18px; /* Adjust size of the magnifying glass */
    color: #888; /* Icon color */
}

.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 85%;
    overflow-y: auto;
    z-index: 10;
    margin-top: 5px;
    list-style-type: none;
    padding-left: 0; /* Remove any default padding */
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f1f1f1;
}
